.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 200px;
}

.playercontainer {
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
    height: 216px;
}

.pagecontainer {
    padding-top: 10px;
}

.btn-container-right {
    text-align: right;
    width: 48px;

}

.playlist-row {
    height: 39px;
}